In [1]:
import pandas as pd
import re
import numpy as np

### Line 2 to 5 have the function to extract relevent info from the text file

In [2]:
#Extract Time
def extract_time(line):
    try:
        results = re.search('^.*(?=(\ combo))', line)
        time = results.group()[-8:]
        return time
    except Exception as e:
        return None

In [3]:
#Extract Date
def extract_date(line):
    try:
        results = re.search('^.*(?=(\ combo))', line)
        date = results.group()[:-9]
        return date
    except Exception as e:
        return None

In [4]:
#Extract ruser
def extract_user(line):
    try:
        pattern = r"ruser=(.*?) rhost="
        user = re.search(pattern,line).group().replace("ruser=","").replace("rhost=","").replace(" ","")
        return user
    except Exception as e:
        return None

In [5]:
#Extract rhost
def extract_host(line):
    try:
        pattern = r"rhost=(.*?) "
        host = re.search(pattern,line).group().replace("rhost=","").replace(" ","")
        return host
    except Exception as e:
        return None

### Extract time, date, ruser and rhost and save them in a dataframe

In [6]:
df = pd.DataFrame(columns=["Date","Time","User","Host"])
f = open("ds_test_log.txt", "r")
line=f.readline()
while(line):
    new_row= [extract_date(line),extract_time(line),extract_user(line),extract_host(line)]
    df.loc[len(df)] = new_row
    line=f.readline()
df

,Date,Time,User,Host
0,Jun 14,15:16:01,Ruth.fakedomain.com,218.188.2.4
1,Jun 14,15:16:02,None,None
2,Jun 14,15:16:02,Marion.fakedomain.com,218.188.2.4
3,Jun 15,02:04:59,Alice.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
4,Jun 15,02:04:59,Ann.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
...,...,...,...,...
1995,Jul 27,14:41:59,None,None
1996,Jul 27,14:42:00,None,None
1997,Jul 27,14:42:00,None,None
1998,Jul 27,14:42:00,None,None
1999,Jul 27,14:42:00,None,None

### Save the dataframe in a csv file

In [7]:
df.to_csv('ds_test_log_cleaned.csv', encoding='utf-8', index=False)

In [8]:
df_test_log_cleaned = pd.read_csv("ds_test_log_cleaned.csv")
df_test_log_cleaned

,Date,Time,User,Host
0,Jun 14,15:16:01,Ruth.fakedomain.com,218.188.2.4
1,Jun 14,15:16:02,NaN,NaN
2,Jun 14,15:16:02,Marion.fakedomain.com,218.188.2.4
3,Jun 15,02:04:59,Alice.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
4,Jun 15,02:04:59,Ann.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
...,...,...,...,...
1995,Jul 27,14:41:59,NaN,NaN
1996,Jul 27,14:42:00,NaN,NaN
1997,Jul 27,14:42:00,NaN,NaN
1998,Jul 27,14:42:00,NaN,NaN
1999,Jul 27,14:42:00,NaN,NaN

### Get all rusers in the file

In [9]:
df_test_log_cleaned["User"].unique()

array(['Ruth.fakedomain.com', nan, 'Marion.fakedomain.com',
       'Alice.fakedomain.com', 'Ann.fakedomain.com',
       'Edna.fakedomain.com', 'Mildred.fakedomain.com',
       'Mae.fakedomain.com', 'Evelyn.fakedomain.com',
       'Lillian.fakedomain.com', 'Frances.fakedomain.com',
       'Grace.fakedomain.com', 'Ethel.fakedomain.com',
       'Esther.fakedomain.com', 'Eleanor.fakedomain.com',
       'Louise.fakedomain.com', 'Gladys.fakedomain.com',
       'Doris.fakedomain.com', 'Lucille.fakedomain.com',
       'Katherine.fakedomain.com', 'Rose.fakedomain.com',
       'Clara.fakedomain.com', 'Gertrude.fakedomain.com',
       'Lois.fakedomain.com', 'Mabel.fakedomain.com',
       'Josephine.fakedomain.com', 'Catherine.fakedomain.com',
       'Jean.fakedomain.com', 'Bernice.fakedomain.com',
       'Elsie.fakedomain.com', 'Betty.fakedomain.com',
       'Margaret.fakedomain.com', 'Florence.fakedomain.com',
       'Violet.fakedomain.com', 'Virginia.fakedomain.com',
       'Marie.fakedomain.com', 'Edith.fakedomain.com',
       'Marian.fakedomain.com', 'Hazel.fakedomain.com',
       'Thelma.fakedomain.com', 'Dorothy.fakedomain.com',
       'Helen.fakedomain.com', 'Laura.fakedomain.com',
       'Marguerite.fakedomain.com', 'Mary.fakedomain.com',
       'Elizabeth.fakedomain.com', 'Anna.fakedomain.com',
       'Jessie.fakedomain.com', 'Marjorie.fakedomain.com',
       'Beatrice.fakedomain.com', 'Irene.fakedomain.com'], dtype=object)

### Find all the users that have been to 82.77.200.128

In [10]:
df_test_log_cleaned.loc[(df_test_log_cleaned["Host"]== "82.77.200.128")]["User"].unique()

array(['Rose.fakedomain.com', 'Frances.fakedomain.com',
       'Ann.fakedomain.com', 'Marion.fakedomain.com',
       'Anna.fakedomain.com', 'Edna.fakedomain.com',
       'Esther.fakedomain.com', 'Lillian.fakedomain.com',
       'Florence.fakedomain.com'], dtype=object)

### Find all the users that have been to massive.merukuru.org

In [11]:
df_test_log_cleaned.loc[(df_test_log_cleaned["Host"]== "massive.merukuru.org")]["User"].unique()

array(['Anna.fakedomain.com', 'Mildred.fakedomain.com',
       'Mae.fakedomain.com', 'Louise.fakedomain.com',
       'Hazel.fakedomain.com', 'Edna.fakedomain.com',
       'Lillian.fakedomain.com', 'Katherine.fakedomain.com',
       'Virginia.fakedomain.com', 'Jessie.fakedomain.com'], dtype=object)

### Count number of unique rusers associated with a given rhost

In [13]:
#Group the dataframe by rhost and ruser
df_grouped=df_test_log_cleaned.groupby(["Host", "User"]).size().reset_index().rename(columns={0:'Count'})
df_grouped

                         Host                      User  Count
0    061092085098.ctinets.com  Catherine.fakedomain.com      1
1    061092085098.ctinets.com      Clara.fakedomain.com      1
2    061092085098.ctinets.com   Gertrude.fakedomain.com      1
3    061092085098.ctinets.com  Josephine.fakedomain.com      1
4    061092085098.ctinets.com  Katherine.fakedomain.com      1
..                        ...                       ...    ...
400                zummit.com      Ethel.fakedomain.com      1
401                zummit.com      Grace.fakedomain.com      1
402                zummit.com      Irene.fakedomain.com      1
403                zummit.com    Lillian.fakedomain.com      1
404                zummit.com     Marian.fakedomain.com      1

[405 rows x 3 columns]

In [18]:
#Print out the name of the host and its number of unique users
host_list = df_grouped["Host"].unique()
for host in host_list:
    val = len(df_grouped.loc[df_grouped["Host"]==host])
    print(f"{host}: {val} unique users")

061092085098.ctinets.com: 10 unique users
150.183.249.110: 38 unique users
193.110.106.11: 2 unique users
195.129.24.210: 11 unique users
200.60.37.201: 1 unique users
202-132-40-29.adsl.ttn.net: 8 unique users
202.181.236.180: 10 unique users
203.251.225.101: 5 unique users
207.243.167.114: 19 unique users
209.152.168.249: 9 unique users
210.229.150.228: 5 unique users
210.76.59.29: 6 unique users
211-76-104-65.ebix.net.tw: 9 unique users
211.115.206.155: 5 unique users
211.137.205.253: 8 unique users
211.214.161.141: 8 unique users
211.46.224.253: 1 unique users
211.9.58.217: 8 unique users
212.0.132.20: 4 unique users
217.60.212.66: 6 unique users
218.16.122.48: 5 unique users
218.188.2.4: 12 unique users
218.22.3.51: 9 unique users
218.55.234.102: 4 unique users
220-135-151-1.hinet-ip.hinet.net: 10 unique users
220.117.241.87: 12 unique users
60.30.224.116: 17 unique users
61-220-159-99.hinet-ip.hinet.net: 3 unique users
61.53.154.93: 7 unique users
62-192-102-94.dsl.easynet.nl: 9 unique users
65.166.159.14: 9 unique users
68.143.156.89.nw.nuvox.net: 8 unique users
82.77.200.128: 9 unique users
85.44.47.166: 1 unique users
adsl-70-242-75-179.dsl.ksc2mo.swbell.net: 10 unique users
biblioteka.wsi.edu.pl: 8 unique users
c51471f2c.cable.wanadoo.nl: 9 unique users
c9063558.virtua.com.br: 4 unique users
csnsu.nsuok.edu: 9 unique users
d211-116-254-214.rev.krline.net: 5 unique users
h64-187-1-131.gtconnect.net: 10 unique users
ip-216-69-169-168.ip.secureserver.net: 10 unique users
massive.merukuru.org: 10 unique users
n219076184117.netvigator.com: 18 unique users
p15105218.pureserver.info: 10 unique users
troi.bluesky-technologies.com: 5 unique users
zummit.com: 9 unique users

### Find all the rhost associated with Bernice.fakedomain.com

In [19]:
df_test_log_cleaned.loc[(df_test_log_cleaned["User"]== "Bernice.fakedomain.com")]["Host"].unique()

array(['d211-116-254-214.rev.krline.net', '217.60.212.66', '218.22.3.51',
       '62-192-102-94.dsl.easynet.nl', '60.30.224.116',
       'p15105218.pureserver.info', '150.183.249.110', '211.137.205.253'],
      dtype=object)