In [34]:
import pandas as pd
import re

In [38]:
f = open("ds_test_log.txt", "r")
#f.readline()

In [42]:
for line in f:
    line = line.replace("\nruser","ruser").replace("\nrhost","rhost")
f.readline()

''

In [48]:
f.readline()

''

In [16]:
df = pd.DataFrame(columns=["Date","Time","User","Host"])

In [17]:
#Extract Time
def extract_time(line):
    try:
        results = re.search('^.*(?=(\ combo))', line)
        time = results.group()[-8:]
        return time
    except Exception as e:
        return None

In [18]:
#Extract Date
def extract_date(line):
    try:
        results = re.search('^.*(?=(\ combo))', line)
        date = results.group()[:-9]
        return date
    except Exception as e:
        return None

In [19]:
#Extract ruser
def extract_user(line):
    try:
        pattern = r"ruser=(.*?) rhost="
        user = re.search(pattern,line).group().replace("ruser=","").replace("rhost=","").replace(" ","")
        return user
    except Exception as e:
        return None

In [20]:
#Extract rhost
def extract_host(line):
    try:
        pattern = r"rhost=(.*?) "
        host = re.search(pattern,line).group().replace("rhost=","").replace(" ","")
        return host
    except Exception as e:
        return None

In [41]:
test_line = f.readline()
[extract_date(test_line),extract_time(test_line),extract_user(test_line),extract_host(test_line)]

[None, None, None, None]

In [21]:
for line in f:
    line=f.readline()
    new_row= [extract_date(line),extract_time(line),extract_user(line),extract_host(line)]
    df.loc[len(df)] = new_row
df

,Date,Time,User,Host
0,Jun 14,15:16:02,Marion.fakedomain.com,218.188.2.4
1,Jun 15,02:04:59,Ann.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
2,Jun 15,02:04:59,Mildred.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
3,Jun 15,02:04:59,Evelyn.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
4,Jun 15,02:04:59,Marion.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
...,...,...,...,...
995,"""Jul 27",14:41:59,None,None
996,Jul 27,14:41:59,None,None
997,Jul 27,14:42:00,None,None
998,Jul 27,14:42:00,None,None
999,None,None,None,None

In [12]:
df.to_csv('ds_test_log_cleaned.csv', encoding='utf-8', index=False)

In [13]:
df_test_log_cleaned = pd.read_csv("ds_test_log_cleaned.csv")
df_test_log_cleaned

,Date,Time,User,Host
0,Jun 14,15:16:02,Marion.fakedomain.com,218.188.2.4
1,Jun 15,02:04:59,Alice.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
2,Jun 15,02:04:59,Ann.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
3,Jun 15,02:04:59,Edna.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
4,Jun 15,02:04:59,Mildred.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
...,...,...,...,...
1993,Jul 27,14:41:59,NaN,NaN
1994,Jul 27,14:42:00,NaN,NaN
1995,Jul 27,14:42:00,NaN,NaN
1996,Jul 27,14:42:00,NaN,NaN
1997,Jul 27,14:42:00,NaN,NaN