In [50]:
import pandas as pd
import re
import numpy as np

In [6]:
#Extract Time
def extract_time(line):
    try:
        results = re.search('^.*(?=(\ combo))', line)
        time = results.group()[-8:]
        return time
    except Exception as e:
        return None

In [7]:
#Extract Date
def extract_date(line):
    try:
        results = re.search('^.*(?=(\ combo))', line)
        date = results.group()[:-9]
        return date
    except Exception as e:
        return None

In [8]:
#Extract ruser
def extract_user(line):
    try:
        pattern = r"ruser=(.*?) rhost="
        user = re.search(pattern,line).group().replace("ruser=","").replace("rhost=","").replace(" ","")
        return user
    except Exception as e:
        return None

In [9]:
#Extract rhost
def extract_host(line):
    try:
        pattern = r"rhost=(.*?) "
        host = re.search(pattern,line).group().replace("rhost=","").replace(" ","")
        return host
    except Exception as e:
        return None

In [18]:
f = open("ds_test_log.txt", "r")
test_line = f.readline()
test_line = f.readline()
test_line = f.readline()
[extract_date(test_line),extract_time(test_line),extract_user(test_line),extract_host(test_line)]

['Jun 14', '15:16:02', 'Marion.fakedomain.com', '218.188.2.4']

In [24]:
df = pd.DataFrame(columns=["Date","Time","User","Host"])
f = open("ds_test_log.txt", "r")
line=f.readline()
while(line):
    new_row= [extract_date(line),extract_time(line),extract_user(line),extract_host(line)]
    df.loc[len(df)] = new_row
    line=f.readline()
df

,Date,Time,User,Host
0,Jun 14,15:16:01,Ruth.fakedomain.com,218.188.2.4
1,Jun 14,15:16:02,None,None
2,Jun 14,15:16:02,Marion.fakedomain.com,218.188.2.4
3,Jun 15,02:04:59,Alice.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
4,Jun 15,02:04:59,Ann.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
...,...,...,...,...
1995,Jul 27,14:41:59,None,None
1996,Jul 27,14:42:00,None,None
1997,Jul 27,14:42:00,None,None
1998,Jul 27,14:42:00,None,None
1999,Jul 27,14:42:00,None,None

In [25]:
df.to_csv('ds_test_log_cleaned.csv', encoding='utf-8', index=False)

In [26]:
df_test_log_cleaned = pd.read_csv("ds_test_log_cleaned.csv")
df_test_log_cleaned

,Date,Time,User,Host
0,Jun 14,15:16:01,Ruth.fakedomain.com,218.188.2.4
1,Jun 14,15:16:02,NaN,NaN
2,Jun 14,15:16:02,Marion.fakedomain.com,218.188.2.4
3,Jun 15,02:04:59,Alice.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
4,Jun 15,02:04:59,Ann.fakedomain.com,220-135-151-1.hinet-ip.hinet.net
...,...,...,...,...
1995,Jul 27,14:41:59,NaN,NaN
1996,Jul 27,14:42:00,NaN,NaN
1997,Jul 27,14:42:00,NaN,NaN
1998,Jul 27,14:42:00,NaN,NaN
1999,Jul 27,14:42:00,NaN,NaN

In [27]:
#Get all rusers in the file
df_test_log_cleaned["User"].unique()

array(['Ruth.fakedomain.com', nan, 'Marion.fakedomain.com',
       'Alice.fakedomain.com', 'Ann.fakedomain.com',
       'Edna.fakedomain.com', 'Mildred.fakedomain.com',
       'Mae.fakedomain.com', 'Evelyn.fakedomain.com',
       'Lillian.fakedomain.com', 'Frances.fakedomain.com',
       'Grace.fakedomain.com', 'Ethel.fakedomain.com',
       'Esther.fakedomain.com', 'Eleanor.fakedomain.com',
       'Louise.fakedomain.com', 'Gladys.fakedomain.com',
       'Doris.fakedomain.com', 'Lucille.fakedomain.com',
       'Katherine.fakedomain.com', 'Rose.fakedomain.com',
       'Clara.fakedomain.com', 'Gertrude.fakedomain.com',
       'Lois.fakedomain.com', 'Mabel.fakedomain.com',
       'Josephine.fakedomain.com', 'Catherine.fakedomain.com',
       'Jean.fakedomain.com', 'Bernice.fakedomain.com',
       'Elsie.fakedomain.com', 'Betty.fakedomain.com',
       'Margaret.fakedomain.com', 'Florence.fakedomain.com',
       'Violet.fakedomain.com', 'Virginia.fakedomain.com',
       'Marie.fakedomain.com', 'Edith.fakedomain.com',
       'Marian.fakedomain.com', 'Hazel.fakedomain.com',
       'Thelma.fakedomain.com', 'Dorothy.fakedomain.com',
       'Helen.fakedomain.com', 'Laura.fakedomain.com',
       'Marguerite.fakedomain.com', 'Mary.fakedomain.com',
       'Elizabeth.fakedomain.com', 'Anna.fakedomain.com',
       'Jessie.fakedomain.com', 'Marjorie.fakedomain.com',
       'Beatrice.fakedomain.com', 'Irene.fakedomain.com'], dtype=object)

In [40]:
#Find all the users that have been to 82.77.200.128
df_test_log_cleaned.loc[(df["Host"]== "82.77.200.128")]["User"].unique()

array(['Rose.fakedomain.com', 'Frances.fakedomain.com',
       'Ann.fakedomain.com', 'Marion.fakedomain.com',
       'Anna.fakedomain.com', 'Edna.fakedomain.com',
       'Esther.fakedomain.com', 'Lillian.fakedomain.com',
       'Florence.fakedomain.com'], dtype=object)

In [43]:
#Find all the users that have been to massive.merukuru.org
df_test_log_cleaned.loc[(df["Host"]== "massive.merukuru.org")]["User"].unique()

array(['Anna.fakedomain.com', 'Mildred.fakedomain.com',
       'Mae.fakedomain.com', 'Louise.fakedomain.com',
       'Hazel.fakedomain.com', 'Edna.fakedomain.com',
       'Lillian.fakedomain.com', 'Katherine.fakedomain.com',
       'Virginia.fakedomain.com', 'Jessie.fakedomain.com'], dtype=object)

In [56]:
#Count number of unique rusers associated with a given rhost
unique_rhost_df=pd.DataFrame(df_test_log_cleaned["Host"].unique(),columns=["Unique Host"])
unique_ruser_df=pd.DataFrame(df_test_log_cleaned["User"].unique(),columns=["Unique User"])
unique_df=unique_ruser_df.merge(unique_rhost_df,how="cross")
unique_df["Count"]=0
unique_df

               Unique User                       Unique Host  Count
0      Ruth.fakedomain.com                       218.188.2.4      0
1      Ruth.fakedomain.com  220-135-151-1.hinet-ip.hinet.net      0
2      Ruth.fakedomain.com          061092085098.ctinets.com      0
3      Ruth.fakedomain.com   d211-116-254-214.rev.krline.net      0
4      Ruth.fakedomain.com                    211.46.224.253      0
...                    ...                               ...    ...
2345  Irene.fakedomain.com                    193.110.106.11      0
2346  Irene.fakedomain.com                      85.44.47.166      0
2347  Irene.fakedomain.com                      211.9.58.217      0
2348  Irene.fakedomain.com                   203.251.225.101      0
2349  Irene.fakedomain.com                   207.243.167.114      0

[2350 rows x 3 columns]

In [52]:
for row in df_test_log_cleaned:
    unique_df.loc[unique_df["Unique Host"]==row["User"]]

47

In [54]:
len(pd.DataFrame(df_test_log_cleaned["User"].unique(),columns=["Unique User"]))

50

In [42]:
#Find all the rhost associated with Bernice.fakedomain.com
df_test_log_cleaned.loc[(df_test_log_cleaned["User"]== "Bernice.fakedomain.com")]["Host"].unique()

array(['d211-116-254-214.rev.krline.net', '217.60.212.66', '218.22.3.51',
       '62-192-102-94.dsl.easynet.nl', '60.30.224.116',
       'p15105218.pureserver.info', '150.183.249.110', '211.137.205.253'],
      dtype=object)